# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
CHANGELOG.md

# IDE and Editor
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node
node_modules
npm-debug.log
yarn-error.log

# Laravel
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# Tests
tests/
phpunit.xml

# Misc
*.log
.cache
